header {
  @extend %centHead;
  height: 80px;
  background: white;
  border-bottom: 1px solid lightgray;
  @extend %spaceBet;
  align-items: center;
}

.navbar {

  height: 100%;
  width: 40%;

  ul {
    @extend %spaceBet;

  }
  li {
    display: inline;
    line-height: 80px;
    a, span {
      color: $fontCol;
    }
  }
}

.sign{
  @extend %button;
}
