%centHead {
  width: 90%;
  margin: 0 auto;
}

%centBeige {
  width: 60%;
  margin: 0 auto;
}

%spaceBet {
  display: flex;
  justify-content: space-between;
}

%button {
  
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid $buttonCol;
    border-radius: 8px;
    padding: 8px;
    margin-top: 23px;
    img {
      height: 30px;
    }

}
